
/* Regular */

@font-face {
    font-family: 'Inter';
    src: local('Inter'),
         url('./assets/fonts/Inter-Regular.ttf') format('truetype'),
         url('./assets/fonts/Inter-Regular.eot') format('embedded-opentype'),
         url('./assets/fonts/Inter-Regular.woff') format('woff'); 
    font-weight: 400;
    font-style: normal;
}

/* Bold */

@font-face {
    font-family: 'Inter';
    src: local('Inter'),
         url('./assets/fonts/Inter-Bold.ttf') format('truetype'),
         url('./assets/fonts/Inter-Bold.eot?') format('embedded-opentype'),
         url('./assets/fonts/Inter-Bold.woff') format('woff'); 
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Wall-E';
    src: local('Wall-E'),
         url('./assets/fonts/gunship3d.ttf') format('truetype'); 
    font-weight: 400;
    font-style: normal;
}



html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url(./assets/img/vall-valli-musor-metallolom-vecher-nebo-grust-zvezdy-multfilm-film.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
        
    }
    

.main {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

.header, .footer {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
}

.header {
    
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100px;
    padding: 0px 100px;
}


.footer {
    justify-content: space-between;
    flex: 0 0 auto;
}

/* main */
.wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 20em;
    height: 20em;
    margin-left: 20%;
    justify-content: center;   
   
}


.disabledWrapper {
    pointer-events: none;
    opacity: 0.4;
}


.name, .winner, .new-game, .last-games, .results, .clear {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 20em;
    height: 5em;
    margin-left: 20%;
    justify-content: center;
    align-items: center;
}
.clear {
    cursor: pointer;
}
.results {
    
    height: auto;
    background-color: rgba(255, 255, 255, 0.2);
    width:max-content;
    margin-left: 53%;
    border-radius: 5%;
    
}

/* {
    border: 1px solid white;
} */

th {
    border-bottom: 1px solid white;
    color: white;
    font-family: 'Inter';
    font-weight: 100;
    text-align: center;
}

td {
    color: white;
    font-family: 'Inter';
    font-weight: 100;
    text-align: center;
    font-style: normal;
    font-size: smaller;
    opacity: 0.8;
}

.winner, .new-game {
    height: auto;
}

.new-game{
    cursor: pointer;
    display: none;
}

.box {
    width: 32.9%;
    margin: 0.2%;
    border: 2px solid white;
    border-radius: 5%;
    cursor: pointer;
}

.box-without-hover {
    width: 32.9%;
    margin: 0.2%;
    border: 2px solid white;
    border-radius: 5%;
}

.box-walle {
    background-image: url("./assets/img/Wall-E-icon.png");
    background-size: contain;
}

.box-eve {
    background-image: url("./assets/img/EVE-icon.png");
    background-size: contain;
}

.box:hover {
    background-color: white;
    opacity: 0.2;
}

.name-img {
    width: 20%;
    filter:drop-shadow(2px 2px 10px white);
    cursor: pointer;
}

.name-text, 
.header-text, 
.rules-text, 
.winner-text, 
.new-game-text, 
.last-games-text,
.clear-text {
    color: white;
    font-family: 'Wall-E';
}



.header-text, .rules-text {
    font-size: 150%;
}

.rules-text {
    cursor: pointer;
}

.rules-text:hover, .new-game-text:hover,
.rules-text:focus, .new-game-text:focus,
.rules-text:active, .new-game-text:active,
.clear-text:hover, .rules-text:active, .rules-text:focus {
    filter:drop-shadow(2px 2px 10px white);
}

/* footer */

.different {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding-inline-start: 0px;
    margin-left: 100px;
}


.different-text {
    color: white;
    margin-right: 20px;
    font-family: 'Inter';
    font-weight: 400;
}

.github:hover {
    text-shadow: 1px 1px 2px black, 0 0 25px white, 0 0 5px white;
  
transition: 0.5s;
}


.github {
    cursor: pointer;
    text-decoration: none;
}

.logo-rss {
    height: 45px;
    width: 100px;
    margin-right: 100px;
    cursor: pointer;    
    
    
}

.logo-rss:hover {
   width: 150px;
   transition: 0.5s;
}

@media (max-width: 703px) {
    .header-text, .rules-text, .name-text, .clear-text,
    .last-games-text, th, td, .winner-text, .new-game-text,
    .logo-different {
        font-size: 50%;
    }

    .header {
        padding: 0 10%;
        width: auto;  
    }

    .name {
        margin: auto;
        height: 4em;
    }

    .main, .footer {
        justify-content: center;
    }

    .wrapper, .last-games, .results, .clear,
    .winner, .new-game, .different, .logo-rss, .logo-different {
        margin: auto;
    }

    .name-img {
        width: 15%;
    }

    .wrapper {
        width: 15em;
        height: 15em;
    }

    .last-games {
        height: 2em;
    }

    .left-side {
        height: fit-content;
    }
}
